.Buttons {
  text-align: center;
}

.content {
  background: #f8f8ff;
  width: 100vw;
  height: 100vh;
}

.btn-wrapper {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat( auto-fit, 200px );
}

.act-btn {
  font-size: 24px;
  font-weight: lighter;
  padding: .3em;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  border: none;
  margin: .2em;
  border-radius: 35px;
  background: #79F58A;
}

.gen-btn {
  font-size: 24px;
  font-weight: 400;
  padding: .3em;
  white-space: nowrap;
  color: #f8f8ff;
  text-decoration: none;
  border: none;
  margin: .2em;
  border-radius: 35px;
  background: #ef476f;
}

.take-btn {
  font-size: 24px;
  font-weight: 400;
  padding: .3em;
  white-space: nowrap;
  color: #f8f8ff;
  text-decoration: none;
  border: none;
  margin: .2em;
  border-radius: 35px;
  background: #118ab2;
}